h3 {
  text-align: center;
}

.entryWrapper {
  top: 20%;
  padding: 0 5%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.entry {
  display: block;
  margin: .5rem;
}

mark {
  background: #ef32d9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navLink {
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
}
